{% extends "testing.html" %}
{% block title %}Testing page{% endblock %}

{% block content %}

<div class="contact-page">
    <div class="contact-form">
  <form action="#" method="POST">
    <label for="first-name"></label>
    <input type="text" id="first-name" name="firstname" placeholder="Prenume">
    <br>
    <label for="last-name"></label>
    <input type="text" id="last-name" name="lastname" placeholder="Nume">
    <br>
    <label for="email"></label>
    <input type="text" id="email" name="email" placeholder="Adresa ta de email.">

    <br>
    <label for="country"></label>
    <select id="country" name="country">
        <option value="Romania">Romania</option>
        <option value="outside">Alta Tara</option>
    <br>
    <label for="subject"></label>
  <textarea id="subject" name="subject" placeholder="Scrie-ne ceva.." style="height:200px"></textarea>
  
    <br>
    <input type="submit" value="Trimite">
    <br>
  </form>
</div>
</div>

{% endblock %}